

<div style=" background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
  	font-size: 110%;
	color: #ffffff;
	font-family: sans-serif;">

 <img style=" padding-top: 10%;
	    display: block;
	    margin: 0 auto;
	    padding-bottom: 2em;
	    max-width:200px;" src="https://raw.githubusercontent.com/AhmNouira/flask-simple-form/master/app/static/images/newapp-icon.png" alt="newapp" />

<div style="text-align: center;">
<h2> Dear {{ user.first_name }}, {{user.last_name}} </h2>
<h2>
    Thanks for registering to <a style="color: #00aed1; text-decoration:none;"  href="https://github.com/AhmNouira/flask-simple-form"  target=_blank> flask-simple-form </a></h2> 
			
<h2> See you later </h2>

<h2> ^^ flask-simple-form Team ^^ </h2>
<br>
<br>
</div>
</div>

