{% extends 'base.html' %}

{% block app_content %}

    <section id="intro" class="container">
      <div class="row" style="padding-top: 8%;">
        <div class="col-sm-offset-1 col-sm-2">
          <img class="newappIcon img-responsive" src="../static/images/newapp-icon.png"/>
        </div>
        <div class="col-sm-offset-1 col-sm-7">
          <h1>Thank You for Registering!</h1>
          <p style="padding-top: 20px;">You are now registered
            for <a href="#" class="blue" style="font-weight: bold;"> Flask Simple Form App</a>.</p>

          <p> We look forward to seeing you
            <span class="blue" style="font-weight: bold;"> Monday, February
              29th at 11:00 am Pacific.</span></p>
        </div>
      </div>
    </section>

{% endblock %}
